	<div class="col-left">
		<div class="col-left-top-container">
			<div class="display-name">
				<%# <%= if @user.displayname.nil? %>
					<%= @user.firstname %>
				<%# <% else %>
					<%# <%= @user.displayname %>
				<%# <% end %>
			</div>
			<div class="image-info">
				<%= cl_image_tag @user.defaultimage, :class => "inline-block" %>
				<div class="inline-block">
					<p>"<%= @user.profile.headline %>"</p>
					<p><%= @user.gender %></p>
					<p><%= @user.city %>, <%= @user.state %></p>
					<p><%= @user.country %></p>
				<% if @current_user.present? %>
					<%= image_tag "onlinenow.gif" %>
				<% end %>
			</div>
			</div>
		</div>

		<!-- CONTACT BOX HERE -->
		<div class="contact-box">
			<div class="contact-box-top">
				Contacting <%= @user.firstname %>
			</div>
			<div class="contact-box-buttons">
				<div class="contact-left">
					<%= image_tag "sendMailIcon.gif" %>
					<%= image_tag "addFriendIcon.gif" %>
					<%= image_tag "icon_add_to_group.gif" %>
				</div>
				<div class="contact-right">
					<%= image_tag "forwardMailIcon.gif" %>
					<%= image_tag "addFavoritesIcon.gif" %>
					<%= image_tag "blockuser.gif" %>
				</div>
			</div>
		</div>


	</div>
	<div class="col-right">
		<div class="extended-network">
			<%= @user.firstname %> is in your extended network
		</div>
		<div class="blurbs">
			<%= @user.firstname %>'s blurbs
		</div>
		<p><%= @user.profile.aboutme %></p>
	</div>



		<%= render partial: "comments/comments", locals: {commentable: @user.profile} %>
		<%= render partial: "comments/form", locals: {commentable: @user.profile} %>
	</div>


	<%# <%= @user.profile.headline
	<%= @user.profile.aboutme
	<%= @user.profile.liketomeet
	<%= @user.profile.interests
	<%= @user.profile.music
	<%= @user.profile.movies
	<%= @user.profile.television
	<%= @user.profile.books %>
