<%= cl_image_tag @user.defaultimage %>
<p><%= @user.profile.headline %>
<%= @user.profile.aboutme %>
<%= @user.profile.liketomeet %>
<%= @user.profile.interests %>
<%= @user.profile.music %>
<%= @user.profile.movies %>
<%= @user.profile.television %>
<%= @user.profile.books %></p>

<%= render partial: "comments/form", locals: {commentable: @user.profile} %>
<%= render partial: "comments/comments", locals: {commentable: @user.profile} %>
