<h3>Comments</h3>
<% commentable.comments.each do |comment| %>
	<% comment_user = User.find_by comment.user_id %>
	<div class="comment-container">
		<div class="avatar avatar-container">
				<a href="/profiles/<%=comment_user.id%>">
				<%= comment_user.firstname %>
			</a>
			<img class="block" src="<%= comment_user.dp %>" alt="">
		</div>
		<div class="avatar-container comment-body">
			<div class="timestamp">
				<%= comment_user.created_at %>
			</div>
			<div class="comment">
				<%= comment.body %>
			</div>
		</div>
	</div>
<% end %>
