<% if @current_user.present? %>

<div class="welcome-box">
<h1>Welcome back, <%= @current_user.firstname %>!</h1>
<%# <% unless @current_user.image.nil? %>
<%#  <%= image_tag @current_user.image %>
<%# <% end %>

<%= link_to "Edit Profile", edit_user_path(@current_user) %>
<%# <%= link_to "My Profile" profile_path %>
<%= link_to "Add an Image", images_path %>

</div>

<% end %>
