<%= cl_image_tag @user.defaultimage %>
<p><%= @user.profile.headline %>
<%= @user.profile.aboutme %>
<%= @user.profile.liketomeet %>
<%= @user.profile.interests %>
<%= @user.profile.music %>
<%= @user.profile.movies %>
<%= @user.profile.television %>
<%= @user.profile.books %></p>
