<p id="notice"><%= notice %></p>

<div class="show-image">
  <%= cl_image_tag @image.link %>
</div>

<p>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<%= link_to 'Set as default', "/images/#{@image.id}/default"  %>

<%= render partial: "comments/form", locals: {commentable: @image} %>
<%= render partial: "comments/comments", locals: {commentable: @image} %>
