<!DOCTYPE html>
<html>
  <head>
    <title>Memoryspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<div class="container">
			<nav>

				<% if @current_user.present? %>
					<%= link_to 'Home', home_path %>
					<%= link_to "Edit Profile", "/profile/#{@current_user.id}/edit" %>
					<%= link_to "Sign Out #{@current_user.email}", login_path, :method => 'delete' %>
				<% else %>
					<%= link_to 'Home', root_path %>
					<%= link_to "Sign up", new_user_path %>
					<%= link_to "Sign In", login_path %>
				<% end %>
	    </nav>
	    <%= yield %>
		</div>
  </body>
</html>
